/* link to Muli font */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Universal make the box border consistent an no resizing by padding, etc. */
* {
  box-sizing: border-box;
}

h1 {
  color: red;
}
/* Set font famaily, make flex on, set margins to zero to start with */
body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* style the container which is wrapped around the panels */
/* make the container a flexbox, then all the panels as its children will be in a horizontal row as flex is row by default*/
/* 90 vw is a viewport width, here will use 90% of it */
.container {
  display: flex;
  width: 90vw;
}


/* styling the 4 panels: the width when not active is 0.5. Will change to eg. flex 5 for the expanded class.
The panel has to be position relative so that after the h3s can be positioned absolute.
The transition and ease in is just to make it smooth.
*/
/* for background-size he gives an alternbative of background-size: cover; to preserve rounded corners on large screens - I didn't see it make much differenece */
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

/* style the picture headings. Positon it absolute then in bottom left corner (20px from left and from bottom).
Opacoty to 0 so invisble when not active */
.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* now style the panel with the active class differently */
.panel.active {
  flex: 5;
}

/* below is two class and an element 
the transition just means that the h3 fades in as the card is expaned rather than instantly popping in*/
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* if the screen is really small, we weant to show only 3 of the 5 panels

Use media queary to check display size. In this case, anything we put in here will only come into effecet if the screen is under 480px
making the width a little bigger from 90 to 100vw*/
@media(max-width: 480px) {
  .container {
    width: 100vw;
  }
/* removing the 4th and 5th panels */
  .panel:nth-of-type(4), 
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* Fourth, now go the the JS to add teh click functionality */
